@import 'assets/scss/_base.scss';

button {
  color: $secondary-color;
  text-align: center;
  font-family: $ff-poppins;
  font-size: $fs-3;
  font-weight: $fw-3;
  border: none;
  border-radius: 5px;
  background-color: $btn-background;
  padding: 4px 16px;

  @media screen and (min-width: 1200px) {
    font-size: $fs-4;
    padding: 6px 32px;
    border-radius: 10px;
  }
}
