@import 'assets/scss/_base.scss';

button {
  color: $secondary-color;
  text-align: center;
  font-family: $ff-poppins;
  font-size: $fs-3;
  font-weight: $fw-3;
  border: none;
  border-radius: 4px;
  background-color: $btn-background;
  padding: 4px 16px;
}
