$primary-color: #a5d7e9e5;
$secondary-color: #fff;
$btn-background: #0a5069;
$header-background: #4d82a3;
$primary-black: #000;
$text-emphasi-blue: #1f6fa0;


$ff-poppins: 'Poppins', sans-serif;

$fw-1: 400;
$fw-2: 500;
$fw-3: 700;

$fs-1: 0.875rem;
$fs-2: 1rem;
$fs-3: 1.125rem;
$fs-4: 1.375rem;
$fs-5: 2rem;
$fs-6: 3rem;
$fs-7: 3.375rem;
