@import 'assets/scss/_base.scss';

header {
  background-color: $header-background;

  & div {
    padding: 16px 0;

    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  & img {
    width: 90px;
  }

  & a {
    border: 2px solid $secondary-color;
    border-radius: 20px;

    color: $secondary-color;
    font-size: $fs-2;
    font-weight: $fw-3;

    padding: 0px 16px;
  }

  @media screen and (min-width: 1200px) {

    & img {
      width: 120px;
    }

    & a {
      font-size: $fs-3;
      padding: 2px 22px;
    }
  }
}
